Body{
	margin:0;
}
li{
	list-style: none;
}
.navbutton{
	list-style: none;
	display:inline;
	text-align:center;
	padding:10px 15px;
	
	
}
.navbutton:hover{
	color:grey;
}
.active{
	list-style: none;
	display:inline;
	text-align:center;
	padding:10px 15px;
	background-color:grey;
}
.topnav_container{
	height:auto;
	padding:0px;
	width:100%;
	margin-top:0px;
	position:fixed;
	background-color:black;
}
.topnav{
	display:flex;
	align-items:center;
	margin-top:0px;
	padding:0px;
	text-align:center;
	width:700px;
	height:50px;
	margin-left:11%;
	background-color:black;
	z-index:1;
	
}
.navbar_img_cont{
	padding:0px;
	margin-top:2px;
	
	float:left;
	
    
}
.navbar_img{
	
	
	height:44px;
    
}
.header_img{
	
	margin:auto;
	height:100%;
	
}
.banner_container{
	z-index:2;
	padding:0;
	padding-top:50px;
	padding-bottom:10px;
	text-align:center;
	background-color:#202020#202020;
	height:360px;
	float:none;
}
.body_container{
	z-index:-1;
	width:75%;
	margin: auto;
	background-color:grey;
	height:900px;
}
.content_body_right_side{
	background-color:orange;
	width:55%;
	float:right;
	height:800px;
	
}
.content_body_left_side{
	background-color:purple;
	width:40%;
	float:left;
	height:600px;
	
}
footer{
	height:120px;
	color:white;
	background-color:black;
}
div{
	
	
	
	padding:12px;
	
}
